# Visual Studio
.vs/
*.VC.db
*.VC.opendb

# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Rider
.idea/

# Visual Studio
*.suo
*.user
*.opensdf

# Build
*.obj
*.pdb
*.ipch

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini